[submodule "ext/opencv"]
	path = ext/opencv
	url = https://github.com/opencv/opencv.git
[submodule "ext/glfw_ext/glfw"]
	path = ext/glfw_ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/glew_ext/glew"]
	path = ext/glew_ext/glew
	url = https://github.com/gscept/glew.git
